body {
    background-color: rgb(35, 43, 43);
}
/* * {
    border: 1px solid deeppink;
}  */
.container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin-left: 200px;
    margin-right: 200px;
    /* justify-content: center;  */
    align-items: center;
}
li, nav {
    display: inline-block;
    text-decoration: none;
}
.princess {
    background-color: rgb(7, 7, 150);
    color: white;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    }
.logo {
    max-height: 30px;
    
}    
nav {
    background-color: white;
    color: darkblue;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav li {
    padding-right: 30px;
}
.banner {
    /* flex-basis: 2; */
    position: relative;
    width: 100%;
}
.ship {
    flex: 1;
    position: relative;
    width: 100%;
    height: auto;
}

.view-cruises {
    background-color: rgb(34, 34, 65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    max-height: 100px;
    width: 100%;
}
.destination, .month, .wherefrom, .length {
    display: inline;
    justify-content: space-evenly;
}
.viewed {
    background-color: rgb(20, 103, 114);
    height: 1em;
}
a {
    text-decoration: none;
    color: white;
}

.selectors {
    display: flex;
    justify-content: space-around;
}
.selectors button {
    background-color: rgb(33, 168, 44);
    color: white;
}
.options {
    display: flex;
    width: 100%;
    flex-basis: 1;
}
.package, .deals, .new, .hawaii {
    display: flex;
    align-items: center;
    align-items: space-evenly;
    margin: 1em;
  }
.option img {
    max-width: 25%;
    
}    